// -------------------------------------
//
//   Application.css.scss
//
// -------------------------------------


// -------------------------------------
//   Libraries
// -------------------------------------

@import "foundation_and_overrides";
@import "foundation-icons";
@import "jquery.ui.all";
@import "chosen";
@import url("http://fonts.googleapis.com/css?family=Trade+Winds");

#title {
  font-family: 'Trade Winds', cursive;
  a {
    color: white;
  }
}
.text-centered { text-align: center; }
.over-par { color: red }
.under-par { color: green }
.chosen-choices input { height: 37px !important; }
.undecorated-list {
  list-style-type: none;
  margin-left: 0px;
}
input.larger-input { height: 48px; }
tr.highlight { background-color: #EFF5FB; }
table#course-stats {
  tr.best-hole { background-color: #E0F8E0; }
  tr.worst-hole { background-color: #F6CED8; }
}
i.red-icon { color: red; }
p.tap-down { padding-top: 1em; }
