// -------------------------------------
//
//   Application.css.scss
//
// -------------------------------------


// -------------------------------------
//   Libraries
// -------------------------------------

@import "bootstrap_and_overrides";
@import "jquery.ui.all";
@import "round-show-table";
@import "reviews";
@import "twitter-typeahead";
@import url("http://fonts.googleapis.com/css?family=Trade+Winds");

.u-pointer {
  cursor: pointer;
}

#title {
  font-family: 'Trade Winds', cursive;
  a {
    color: white;
  }
}

.chosen-choices input { height: 37px !important; }
.user-row { padding-bottom: 2em; }
i.red-icon { color: red; }
p.tap-down { padding-top: 1em; }
.darkened { background-color: #b9b9b9 !important; }
img { max-width: 100%; }

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

#spinner {
  position: fixed;
  left: 45%;
  top: 45%;
  z-index: 100;
}

.u-circle {
  border-radius: 50%;
}
