.round-show-table {
  width: 100%;
  .scorecard-column {
    float: left;
  }
  border: solid 1px black;
  border-spacing: 2px;
  .columns { padding: 0; }
  ul {
    margin-left: 0;
    list-style-type: none;
    li:first-of-type { background-color: grey; }
    li:nth-child(even) {background: white}
    li {
      text-align: center;
      line-height: 200%;
      font-size: 16px;
    }
  }
}
.belowPar { color: green; }
.atPar    { color: black; }
.abovePar { color: red; }
