<h3 class='text-center'>New Review</h3>
<form {{action "submitReview" content on="submit"}}>
  <div class='form-group'>
    <label>* Rating</label>
    {{view  Ember.Select content=ratingChoices value=rating required=true prompt="Select Rating" classNames='form-control'}}
  </div>
  <div class='form-group'>
    <label>* Comments</label>
    {{textarea value=post required=true classNames='form-control' rows=10}}
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
</form>
