= link_to "Current Game", root_path, class: "ui-btn ui-icon-carat-r ui-btn-icon-right" 
= link_to "Profile", root_path, class: "ui-btn ui-icon-carat-r ui-btn-icon-right" 
= link_to "Stats", root_path, class: "ui-btn ui-icon-carat-r ui-btn-icon-right" 
= link_to "Another Button", root_path, class: "ui-btn ui-icon-carat-r ui-btn-icon-right" 
